
{% extends 'sitios_web/base.html' %}

{% load i18n %}
{% load static %}

{% block banner %}
    <div class="banner-ecsl">
        {% for object in sitios %}
            <div class="image-background"
                 style="background-size: 100%; background: url(media/{{ object.banner }});     background-size: 100%;
                         background-position: 0 -15px;"></div>
            <div class="banner-opacity"></div>
            <div class="logo-img">
                <img src="media/{{ object.WebLogo }}" class="img-responsive">
                <div class="promo">
                    <h1>
                        {% trans object.slogan %}
                    </h1>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block content %}
    <div class="block-encuentro text-center">
        <h1 class="title">Encuentro</h1>
        <h2 class="title-2 letter-spacing-3">Centroamericano</h2>
        <h2 class="title-2 letter-spacing-2">de Software Libre</h2>
        <h2 class="title-anho"><span>2017</span></h2>
        <h2 class="title-2">Alajuela, Costa Rica</h2>
    </div>
{% endblock %}

{% block fluid %}
    <div class="block-actividades">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="title">Propuestas de Actividades</h1>
                    {% for type in types %}

                        <div class="col-sm-4">
                            <img src="{{ type.icons }}" class="img-responsive pull-left">
                            <a href="{% url 'activity:Forum_Types' type.slug %}"><h2>{{ type.name }}</h2></a>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <div class="block-patrocinadores">
        <div class="container">
            <h1 class="text-center text-uppercase patrocinadores-title">
                <span>Patrocinadores</span>
            </h1>
            <div class="row patrocinadores">
                {% for foo in imagen %}
                    {% if forloop.counter <= 4 %}
                        <a href="{{ foo.web }}" target="_blank"
                           class="col-sm-4 col-md-3 patrocinador-item text-center">
                            <div class="patrocinador-img">
                                <img src="{{ foo.logo.url }}" class="img-responsive" title="{{ foo.name }}">
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
