{% extends 'sitios_web/base.html' %}
{% load bootstrap3 %}
{% load i18n %}


{% block content %}

    <h1 class="page-header">{% trans "Mi Perfil" %}</h1>
    <div class="row">
        <div class="col-sm-4">
            <div>
                <strong>{% trans "Name:" %}</strong>
                <span>{{ object.name }}</span>
            </div>
            <div>
                <strong>{% trans "Last Name:" %}</strong>
                <span>{{ object.LastName }}</span>
            </div>
            <div>
                <strong>{% trans "Gender:" %}</strong>
                <span>{{ object.gender }}</span>
            </div>
            <div>
                <strong>{% trans "Country:" %}</strong>
                <span>{{ object.country }}</span>
            </div>

            <div>
                <strong>{% trans "Email:" %}</strong>
                <span>{{ object.email }}</span>
            </div>

            <div>
                <strong>{% trans "Email:" %}</strong>
                <span>{{ object.identification }}</span>
            </div>

        </div>
        <div class="col-sm-4">

    </div>
    {% endblock %}

