.footer {
  box-shadow: 0 -1px 3px 0px rgba(0,0,0,0.5),0 -5px 5px 0 rgba(0,0,0,0.1), 0 -3px 5px 0 rgba(0,0,0,0.1);
  .footer-container {
    background: #030513;
    color: #fff;
    padding: 40px 0;
    ul {
      padding: 0;
      li {
        list-style: none;
        display: inline;
        margin-right: 5px;
        a {
          cursor: pointer;
          color: #fff;
        }
      }
    }
  }
  .footer-nav {
    background: #0096a6;
    color: #fff;
    padding: 10px 0;
    p {
      margin-bottom: 0;
    }
  }
  .footer-left {
  }
  .footer-center {
  }
  .footer-right {
    .links {
      display: flex;
      justify-content: flex-end;
    }
  }
}