.footer {
  padding-top: 7em;
  &.footer-home {
    margin-top: -75px;
  }
  .footer-container {
    background: #030513;
    color: #fff;
    padding: 40px 0;
    ul {
      padding: 0;
      li {
        list-style: none;
        display: inline;
        margin-right: 5px;
        a {
          cursor: pointer;
          color: #fff;
        }
      }
    }
  }
  .footer-nav {
    background: #0096a6;
    color: #fff;
    padding: 10px 0;
    p {
      margin-bottom: 0;
    }
  }
  .footer-left {
  }
  .footer-center {
  }
  .footer-right {
    .links {
      display: flex;
      justify-content: flex-end;
    }
  }
}