.nav-main {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  border-color: transparent !important;
  .navbar-nav {
    li {
      &.active {
        a {
          color: #00bcd4 !important;
          border-bottom: 2.5px solid #00bcd4;
          background-color: transparent;
        }
      }
      a {
        padding: 2.5rem;
        transition: 0.25s ease-in;
        color: black !important;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.5rem;
      }
      a:hover {
       color: #00bcd4 !important;
        border-bottom: 2.5px solid #00bcd4;
        background-color: transparent !important;
      }
    }
  }
}

.banner-ecsl {
  position: relative;
  .banner-opacity {
    background-color: rgba(103, 50, 50, 0.7);
    height: 635px;
    width: 100%;
    position: absolute;
    top: 0;
  }
  .image-background {
    background: url('../img/parque.jpg') center;
    background-size: 100%;
    background-position: 0 -15px;
    height: 635px;
  }
  .logo-img {
    position: absolute;
    top: 7em;
    width: 300px;
    left: calc(50% - 150px);
    .promo {
      text-decoration: none;
      color: #fff;
    }
    text-decoration: none;
  }
  .btn-register {
    position: absolute;
    left: calc(50% - 80px);
    bottom: 135px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    transition: .7s;
    background: rgba(29, 172, 228, 0.97);
    &:hover {
      background: rgba(29, 172, 228, 0.8);
    }
  }
}